$headerTop: #edf3f7
$body: #2a3945
$headerTopText: #344756
$nautical: #d7e2e9
$white: #ffffff
$cartTopText: #303030
$yellow: #ffd304
$headerCenterText: #92a8b8
$black: #000000
$headerMenuBottom: #405667
$hoverMenu: #3e6274
$hoverMenuBg: #2c3f4d