.header
    &-top
        background-color: $headerTop
        & .container
            position: relative
    &-bottom
        position: relative
        z-index: 2
        background-color: $headerTopText
        box-shadow: 0 5px 21px rgba(0, 0, 0, 0.11), 0 0 6px rgba(58, 165, 181, 0.97)
        & .container
            display: flex
            flex-wrap: wrap
            align-items: center
            min-height: $headerTopHeight 
    &-wrap
        display: flex
        flex-wrap: wrap
        align-items: center 
        justify-content: space-between
        max-width: 870px
        width: 100%
        margin-left: auto                       
    &-cart
        padding: 0 56px 0 42px
        min-height: $headerTopHeight
        background-color: $white
    &-address
        font-size: 15px
        line-height: 18px 
        color: $headerCenterText
        width: 185px 
.wrap
    &-height
        min-height: 99px        
.logo
    background: url(../img/logo-bg.jpg) no-repeat
    width: 300px  
    height: 156px
    position: absolute
    top: 0
    left: 15px 
    &__image
        position: absolute
        top: 50%
        transform: translate(-50%,-50%)
        left: 50%        
.cart
    position: relative
    padding-top: 12px
    &__text 
        display: block
        margin-left: 60px
    &-top
       font-weight: 700
       font-size: 13px
       color: $cartTopText 
       text-transform: uppercase
    &-bottom
        color: $headerTopText
        font-size: 14px
    &-marg
        margin-top: 5px      
    &__count
        position: absolute
        top: 8px
        left: 24px
        background-color: $yellow
        border-radius: 50%
        font-size: 13px
        color: $cartTopText
        width: 22px
        height: 22px
        line-height: 22px
        text-align: center
    &::before
        content: url(../img/cart.png)   
        position: absolute
        top: 16px
        left: 0     
.search
    &-form
        position: relative
        max-width: 350px
        width: 100%
        box-shadow: inset 0 2px 4px rgba(10, 116, 132, 0.49), 0 0 6px 1px rgba(61, 201, 223, 0.5)
        &__input
            border-radius: 3px
            border: 1px solid $white
            background-color: $nautical
            padding: 0 42px 0 20px
            height: 42px
            &::placeholder
                color: $headerTopText
                font-size: 15px
        &__button
            position: absolute
            top: 50%
            right: 10px
            transform: translateY(-50%)
            width: 20px
            height: 20px
            background: url(../img/search.png)
            border: none
            padding: 0
.yandex
    &-logo
        width: 110px
        text-align: center
        &__image
            margin: auto  
        &__text              
            font-size: 14px
            color: $headerTopText
            border-bottom: 1px dotted $headerTopText
            display: inline-block
.free
    &_text
        display: block
        color: $headerCenterText
        font-size: 13px
        font-weight: 400
    &_phone
        color: $headerTop
        text-align: center
        font-size: 26px
        font-weight: bold
        &::before
            content: url(../img/phone.png)
            display: inline-block
            vertical-align: middle  
.btn
    &_text
        width: 193px
        height: 44px
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.24)
        border: 1px solid $black
        background-image: linear-gradient(-236deg, #3aa5b5 0%, #3dcce2 51%, #3ba5b5 100%)
.call
    &-button
        font-size: 13px
        font-weight: 700 
        color: $white
        text-align: center
        text-transform: uppercase
.email
    position: relative
    &::before
        content: url(../img/email.png)
        position: absolute
        top: 15px
        left: 0
    &__send
       color: $headerCenterText
.send
    &_email
        margin-bottom: 12px
        margin-left: 36px
        &:last-child
            margin-bottom: 0        
.menu
    &-vertical
        background-color: $headerMenuBottom
        position: relative
        &__name
            width: 300px
            font-size: 15px  
            color: $white
            text-transform: uppercase
            font-weight: 700
            display: flex
            align-items: center
            justify-content: center
            min-height: $headerTopHeight
            cursor: pointer
            &::before
                content: url(../img/burger.png)
                margin-right: 13px
                display: inline-block
                vertical-align: middle 
        &__list
            display: none
            background-color: $body
            width: 300px
            margin: 0
            padding: 0
            flex-direction: column
            list-style-type: none 
            position: absolute
            top: 59px
            left: 0
        &__item
            position: relative
            &::after
                content: ''
                background: url(../img/line.png) no-repeat
                width: 100%
                height: 1px
                display: block
            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:last-child
                &::before
                    content: url(../img/menu/menu2.png)
                    position: absolute
                    top: 15px
                    left: 30px  
                    pointer-events: none
            &:nth-child(2)
                &::before
                    content: url(../img/menu/menu1.png)
            &:nth-child(3)
                &::before
                    content: url(../img/menu/menu88.png)          
            &:nth-child(4)
                &::before
                    content: url(../img/menu/menu3.png)          
            &:nth-child(5)
                &::before
                    content: url(../img/menu/menu5.png)          
            &:nth-child(6)
                &::before
                    content: url(../img/menu/menu7.png)          
            &:nth-child(7)
                &::before
                    content: url(../img/menu/menu6.png)          
            &:last-child
                &::before
                    content: url(../img/menu/menu4.png)          
        &__link
            padding: 18px 30px
            color: $white
            transition: .4s
            & span
                margin-left: 40px
            &:hover
                background-color: $hoverMenuBg
                background-image: linear-gradient(-225deg, #d5dfe0 0%, $white 43%, #d5dee0 100%)  
                color: $hoverMenu
.menu
    &-vertical
        &__item 
            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:last-child
                &:hover
                    &::before
                        content: url(../img/menu/menu11.png)
                        position: absolute
                        top: 15px
                        left: 30px  
                        pointer-events: none
            &:first-child
                &:hover
                    &::before
                        content: url(../img/menu/menu22.png)               
            &:nth-child(2)
                &:hover
                    &::before
                        content: url(../img/menu/menu11.png)               
            &:nth-child(3)
                &:hover
                    &::before
                        content: url(../img/menu/menu8.png)               
            &:nth-child(4)
                &:hover
                    &::before
                        content: url(../img/menu/menu33.png)               
            &:nth-child(5)
                &:hover
                    &::before
                        content: url(../img/menu/menu55.png)               
            &:nth-child(6)
                &:hover
                    &::before
                        content: url(../img/menu/menu77.png)               
            &:nth-child(7)
                &:hover
                    &::before
                        content: url(../img/menu/menu66.png)               
            &:last-child
                &:hover
                    &::before
                        content: url(../img/menu/menu44.png)
    &-horizontal
        width: 70%
        margin-left: auto
        &__list
            margin: 0
            padding: 0
            display: flex
            align-items: center
            justify-content: space-between
            list-style: none
        &__item
            position: relative
            &::before
                content: ''
                background: url(../img/top-line.png) no-repeat
                min-width: 306px
                height: 19px
                position: absolute
                top: -3px
                left: 50%
                transform: translateX(-50%)
        &__link
            text-transform: uppercase
            font-size: 18px
            font-weight: 700
            color: $white
            padding: 19px 20px
            text-align: center
                                